<ion-content>
  <swiper-container
    #swiper
    [pagination]="true"
    class="swiper-welcome"
    [config]="config"
  >

    <swiper-slide>
      <ion-text>
        <img src="https://images.unsplash.com/photo-1580927752452-89d86da3fa0a" />
        <h3 class="animate__animated animate__fadeInUp">
          <ion-text color="light">Ionic Start Theme</ion-text>
        </h3>
        <p>This is an epic app because...</p>
        <ion-button (click)="next()" fill="outline">Next</ion-button>
      </ion-text>
    </swiper-slide>
      <swiper-slide>
        <ion-icon name="logo-ionic" class="animate__animated animate__fadeInDown" ></ion-icon>
      
        <h3 class="animate__animated animate__fadeInUp">
          <ion-text color="light">Ionic Start Theme</ion-text>
        </h3>
        <p class="animate__animated animate__fadeInUp">
          <ion-text color="medium">Latest Ionic version starter theme. Experiencing the best of new features to start your
            project.</ion-text>
        </p>
      </swiper-slide>
    <swiper-slide>
      <ion-text>
        <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085" />
        <h1>It's Ionic!</h1>
        <p>... it shows all the basics you need!</p>
        <ion-button (click)="start()" fill="outline">Start</ion-button>
      </ion-text>
    </swiper-slide>
  </swiper-container>
</ion-content>
<ion-footer
  class="animate__animated animate__fadeInUp">
  <ion-button
    class="ion-margin"
    expand="block" size="large" color="secondary" (click)="nextSlide()"
    *ngIf="!last_slide">
    Next
    <ion-icon class="ion-icon-footer" slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
  <ion-button #swiperButtonVext class="ion-margin" expand="block" color="secondary" (click)="getStarted()"
    *ngIf="last_slide">
    Get started
  </ion-button>
</ion-footer>